<component name="ArtifactManager">
  <artifact type="war" name="springbootmybatis:war">
    <output-path>$PROJECT_DIR$/springbootmybatis/target</output-path>
    <root id="archive" name="springbootmybatis-1.3.5.RELEASE.war">
      <element id="artifact" artifact-name="springbootmybatis:war exploded" />
    </root>
  </artifact>
</component>