<component name="ArtifactManager">
  <artifact type="war" name="springbootconf:war">
    <output-path>$PROJECT_DIR$/springbootconf/target</output-path>
    <root id="archive" name="springbootconf.war">
      <element id="artifact" artifact-name="springbootconf:war exploded" />
    </root>
  </artifact>
</component>